In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("./data/train.csv")
df.info

Y = df['Lead']
X = df.drop(columns="Lead")

In [8]:
X=(X-X.mean())/X.std()
X

,Number words female,Total words,Number of words lead,Difference in words lead and co-lead,Number of male actors,Year,Number of female actors,Number words male,Gross,Mean Age Male,Mean Age Female,Age Lead,Age Co-Lead
0,-0.381165,-0.676265,-0.622979,-0.873247,-1.478194,-0.467237,0.714754,-0.564932,0.203285,1.170028,0.714928,0.592869,2.449963
1,-0.375603,-0.326278,-0.700463,-0.522672,0.316016,0.109318,0.235947,0.197242,-0.488590,-0.413038,-0.736420,1.569598,-0.123357
2,-1.010217,-1.001609,-1.062056,-0.695558,-0.196616,-3.061737,-1.200473,-0.433856,1.745177,0.018707,0.119503,0.592869,0.125674
3,-0.584668,-0.168593,-0.224153,0.039210,1.084963,0.205411,-0.721666,0.228255,-0.607197,-0.912299,-1.610950,-0.465255,-1.036470
4,-0.471559,-0.486457,-0.091658,0.249716,0.059700,-1.139885,0.235947,-0.592727,-0.468822,0.370499,1.012640,-0.221072,0.291695
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034,-0.941610,-1.262413,-0.930568,-0.543882,-0.709247,-2.581274,-0.721666,-1.112058,0.414142,0.108254,-0.550350,0.592869,-0.953460
1035,-0.789098,-0.381431,-0.723273,-0.935678,-0.452931,-0.755515,-0.721666,0.368109,0.400963,-0.663557,-1.331844,-1.441984,-0.123357
1036,-0.467387,-1.210780,-1.083859,-0.868045,-1.478194,0.013225,-0.242860,-1.174671,-0.383161,-1.900161,-0.922490,-0.872225,-0.870450
1037,-0.867904,-1.028306,-1.118073,-0.989706,0.059700,-0.371145,-0.242860,-0.528067,-0.521536,0.064394,0.286966,-0.790831,-0.289378
1038,0.185769,0.138122,-0.234216,-0.395808,1.341278,0.685873,0.235947,0.362550,-0.521536,0.222223,1.570851,-0.058284,1.038787